*.o
CMakeCache.txt
Makefile
.idea/
.history/
CMakeLists.txt.user
*.cmake
cvtask1
*.cbp
Exemplar-Based-Inpaining-Python-master
*.bak
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.iml
*.swp
*.xml
*.fdb_latexmk
*.fls
build/
cmake-build-debug/
cmake-build-release/
build-debug/
build-release/
output/
dif/
CMakeFiles/
intm/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf

# Mac System Files
*/.DS_Store
.DS_Store
**/.DS_Store

